* {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .container {
        padding-top: 30px;
        background-color: black;
        width: 100%;
        display: inline-block;
        height: 100vh;
        height: 100dvh; 
    }

    .logo {
        width: 30%;
        margin: auto;
    }

    img {
        max-width: 100%;
    }

    p {
        text-align: center;
        color: white;
        padding: 5px 0;
    }

    .name .title {
        font-size: 1.2rem;
    }

    .company {
        margin-top: 20px;
    }
}